.login-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100%;
    }
}

.login-form {
    width: fit-content;
    height: 80vh;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 20%;
    padding: 3em;

    img {
        width: 10em;
    }

    p {
        font-weight: 400;
        color: 717070;
    }

    input, .login-btn {
        width: 20em;
        height: 3em;
}

}