@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.absolute {
  position: absolute;
  top: 10%;
  right: 10%;
}

button {
  cursor: pointer;
}

.active {
  background-color: #FFF8B7;
}

.not-active {
  background-color: #F4F4F4;
}

.purple-btn {
  background-color: #662671;
  color: white !important;
  padding: 0.75em;
  border-radius: 5px;
  transition: 0.7s;
}

.white-btn {
  background-color: white;
  color: rgb(131, 131, 131);
  padding: 0.75em;
  border-radius: 2em;
  transition: 0.7s;
}

.purple-btn:hover,
.white-btn:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.7s;
}

.round {
  border-radius: 2em;
}

.confirmation-window {
  display: grid;
  place-items: center;
  z-index: 1;
}

.confirmation-background {
  position: fixed;
  width: 100vW;
  height: 100vh;
  background-color: rgb(197, 197, 197);
  opacity: 0.5;
  top: 0 !important;
  left: 0 !important;
}

.delete-confirmation {
  width: 30%;
  height: 30%;
  padding: 2em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2 !important;
  display: grid;
  place-items: center;
}

.add-new-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85vh;
  background-color: white;
}

.login-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container img {
  width: 100%;
}

.login-form {
  width: -moz-fit-content;
  width: fit-content;
  height: 80vh;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  position: relative;
  left: 20%;
  padding: 3em;
}
.login-form img {
  width: 10em;
}
.login-form p {
  font-weight: 400;
  color: 717070;
}
.login-form input, .login-form .login-btn {
  width: 20em;
  height: 3em;
}

@media (max-width: 400px) {
  .container {
    flex-direction: column;
  }
  .left-menu {
    width: 100vw !important;
    height: 10vh !important;
    flex-direction: row !important;
    align-items: center;
    justify-content: space-evenly !important;
    z-index: 2;
  }
}
.left-menu {
  width: 15vw;
  height: 85vh;
  background-color: #F4F4F4;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.left-menu div {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.left-menu div p {
  width: 100%;
  text-align: center;
}
.left-menu * {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #662671;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}
.header * {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
  box-sizing: border-box;
}

.horizontal-ribbon-card {
  position: relative;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin: 1rem 0;
  padding: 1rem 0;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 24px;
}
.horizontal-ribbon-card .options {
  display: flex;
}
.horizontal-ribbon-card .options button {
  margin: 0 1em;
}

.product-image {
  width: 3em;
}

.container {
  height: 85vh;
  display: flex;
  align-items: start;
  justify-content: space-evenly;
}

.page {
  box-shadow: 0 0 2px black;
  margin: 1em;
  padding: 1em;
  position: relative;
  width: 100%;
  height: 100%;
}

.products-grid {
  height: 100%;
  overflow: scroll;
}

.products-grid::-webkit-scrollbar {
  display: none;
}

.login-illustration {
  width: 20em;
}

.page-ribbon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
.page-ribbon .search {
  width: 50%;
  border-radius: 5px;
  border: 1px solid grey;
  padding: 0.5em 1em;
}
.page-ribbon .add-new-btn {
  background-color: #662671;
  color: white;
  padding: 0.75em;
  border-radius: 5px;
}
.page-ribbon .title-info {
  display: flex;
  align-items: center;
}

.form-container {
  height: 100%;
}

.add-new-form {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.add-new-form .submit-btn-group {
  display: flex;
  align-items: center;
  justify-content: end;
}
.add-new-form .submit-btn-group button {
  margin: 0 2em;
}
.add-new-form .submit-btn-group button:hover {
  cursor: pointer;
}

.input-grid {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: auto auto auto;
}
.input-grid div {
  width: 90%;
  margin: 2em 0;
}
.input-grid input,
.input-grid select {
  width: 100%;
  padding: 0.7em 0.5em;
  border-radius: 5px;
  border: 1px solid rgb(200, 200, 200);
}

.form-group {
  position: relative;
}
.form-group label {
  position: absolute;
  background-color: white;
  font-size: 12px;
  top: -1em;
  left: 1em;
}

.front-banner {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}
.front-banner img {
  width: 10em;
}
.front-banner div {
  text-align: center;
}

.logout-confirmation {
  padding: 2em;
}
.logout-confirmation h3, .logout-confirmation p {
  text-align: center;
  color: black;
}
.logout-confirmation button {
  color: black;
}

.table-header p {
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */